:root{
    font-size: 2vw;
}

.fixed20vw{
    width: clamp(20vw,20vw,20vw);
    font-size: 2vw;
}

.MuiSvgIcon-fontSizeMedium{
    font-size: 2vw;
}

.optionsWrapper{
    max-width: 50vw;
    display: flex;
    margin: 1vw;
    justify-content: space-between;
    font-size: 2vw;
}

.btn{
    border: 0.5vw solid;
}