:root{
    font-size: 1.5vw;
}

.fixed20vw{
    font-size: 1.5vw;
}

.MuiSvgIcon-fontSizeMedium{
    font-size: 1.5vw;
}

.optionsWrapper{
    max-width: 95vw;
    display: flex;
    margin: 1vw;
    justify-content: space-between;
    font-size: 2vw;
}

.btn{
    border: 0.5vw solid;
}