.parent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 1vw;
    grid-row-gap: 2vh;
    margin: 1vw;
}

.rectangle{
    width: 15vw;
    height: 8vw;
}

.active{
    background-color: #098bca;

}

.activeD{
    background-color: #fedd00;

}

.disabled{
    background-color: #333333;
}

.empty{
    width: 5vw;
    height: 2.5vh;
    background-color: rgba(0, 0, 0, 0);
}

.buttonBarBottom{
    display: flex;
    justify-content: flex-end;
    margin: 2vw;
}