.parent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 2vw;
    grid-row-gap: 2vw;
    margin: 2vw;
}

.rectangle{
    // width: 10vw;
    width: 100%;
    height: 3vw;
}

.active{
    background-color: #098bca;

}

.activeD{
    background-color: #fedd00;

}

.disabled{
    background-color: #595959;
    //drop shadow white
    box-shadow: -0.25vw -0.25vw 1vw 0 rgba(255, 255, 255, 1);
    box-shadow: 0.25vw 0.25vw 1vw 0 rgb(0, 0, 0);
}

.empty{
    background-color: rgba(0, 0, 0, 0);
}