.dateContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90vw;
    height: 5vw;
    background-color: rgba(255, 255, 255, 0.11);
    border-bottom-right-radius: 0.5vw;
    box-shadow: 0.5vw 0.5vw 1vw rgba(0, 0, 0, 1);
}

.timeWrapper {
    margin-right: 5vw;

    input {
        color: white;
    }
    select {
        color: white;
    }
}

.dateWrapper {
    margin-left: 2vw;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border-radius: 0.5vw;
}

.react-time-picker__clock-button {
    display: none;
}

.react-time-picker__clear-button {
    display: none;
}

.react-time-picker__clock {
    display: none;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
